 
<div class="highlight-bar">
<div class="left-content">
  <img src="assets/vpi.png" alt="VPI Dashboard Icon" class="vpi-icon" />
  <span class="header-class">VPI ERROR PAGE</span>
</div>

  <div class="center-content">
 
  </div>

  <div class="end-content"> 
  </div>
</div>


 

<div class="table-wrapper"> 
  <p-panel class="empty-panel">
    <div class="empty-message-container" >
      <i class="pi pi-exclamation-triangle"></i>
      <p class="info-box" *ngIf="error">
        <strong>Timestamp:</strong> {{ error.timestamp }} <br />
        <strong>Status:</strong> {{ error.status }} <br />
        <strong>Error:</strong> {{ error.error }} <br />
        <strong>Message:</strong> {{ error.message }}
      </p>
    </div>
  </p-panel>
</div>
