.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.logo {
  height: 80px;
}

.settings-icon {
  margin-left: 5px;
  --p-button-primary-background: #008737;
  --p-button-primary-color: #ffffff;
}

 .button-apply {
  --p-button-primary-background: #008737;
  --p-button-primary-color: #ffffff;
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    height: 50px;
  }

  .split-button,
  .pi-home {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
}
 
 .p-dialog {
  border-radius: 8px;
  overflow: hidden;
}

 .dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #008737;   
  padding: 0.75rem 1rem;
  color: #fff;
}

.dialog-header .header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.dialog-header .logo-icon {
  height: 2rem;
  width: auto;
}

.dialog-header .header-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

 .card {
  text-align: center;
  margin-top: 1rem;
}

.dashboard-image {
  max-width: 100%;
  height: auto;
}

 .p-dialog .p-dialog-footer .p-button {
  border-color: #008737;
  color: #008737;
}

.p-dialog .p-dialog-footer .p-button:hover {
  background-color: #008737;
  color: #fff;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 9999;
}
