.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.logo {
  height: 80px;
}

.settings-icon {
  margin-left: 5px;
  --p-button-primary-background: #008737;
  --p-button-primary-color: #ffffff;
}

 .button-apply {
  --p-button-primary-background: #008737;
  --p-button-primary-color: #ffffff;
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    height: 50px;
  }

  .split-button,
  .pi-home {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
}
 
 
.font-color {
  color: #FFFFFF;
  display: inline;
}

.dashboard-image {
  border: none;  
}

.support-link {
  color: rgb(249, 115, 22); 
  font-weight: bold;
  text-decoration: underline;
}



.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 9999;
}

 