<p-toolbar class="justify-between items-center">
  <ng-template #start>

    <div class="flex items-center">
      <img src="https://frontend-old-green.vercel.app/AvangridLogo2.png" alt="Company Logo" class="logo" />
    </div>

  </ng-template> 
  <ng-template #end>
    <p-button type="button" class="button-apply" label="Back" *ngIf="currentUrl === '/error'"
      (keydown.enter)="_dataService.onKeydown($event)" (keydown.space)="_dataService.onKeydown($event)"
      (click)="navigateVPIPage()" [rounded]="true" />
    <p-button icon="pi pi-home" class="button-apply" *ngIf="currentUrl === '/vpi'"
      (keydown.enter)="_dataService.onKeydown($event)" (keydown.space)="_dataService.onKeydown($event)"
      (click)="navigateHomePage()"> </p-button>
    <p-splitButton *ngIf="currentUrl === '/home'" class="button-apply" label="Explore Call Recordings" [raised]="true"
      [model]="items">
    </p-splitButton>
    <p-button type="button" *ngIf="currentUrl === '/home'" class="settings-icon"
      (keydown.enter)="_dataService.onKeydown($event)" (keydown.space)="_dataService.onKeydown($event)" icon="pi pi-cog"
      (click)="menu.toggle($event)" aria-label="Settings" />
    <p-menu #menu [popup]="true" [model]="userMenu"></p-menu>
  </ng-template>
</p-toolbar>

 
<p-dialog 
  [modal]="true" 
  appendTo="body"  
  [(visible)]="noAuthVisible"
  [resizable]="false"
  [draggable]="false"
  [style]="{ 'background-color': '#008737', 'width': '35rem' }"
  [contentStyle]="{ 'padding': '1rem', 'overflow': 'hidden' }"
  class="custom-dialog">

  <ng-template pTemplate="header">
    <div class="dialog-header" style="display:flex; align-items:center; justify-content:space-between;">
      <div class="header-left" style="display:flex; align-items:center; gap:0.75rem;">
        <img src="assets/logo.jpg" alt="Logo" class="logo-icon" style="height:2rem;" />
        <h4 class="header-title" style="color:#FFFFFF; margin:0;">Unauthorized User</h4>
      </div>
    </div>
  </ng-template>

  <div class="card" style="text-align:center;">
    <img src="assets/userAuth.png" alt="Login Error" class="dashboard-image" style="max-width:100%; height:auto; border:none;" />
  </div>

<div class="card1" style="margin-top:20px; text-align:center; font-family: sans-serif;">
  <span class="font-color">Please contact </span>
 
<a [href]="outlookComposeUrl"
   id="supportLink"
   class="support-link"
   target="_blank"
   rel="noopener noreferrer"
   style="text-decoration: underline; font-weight: bold; color:#FFD700; ">
   Avangrid ACD‑IVR Support
</a>

  <span class="font-color">team for assistance</span>
</div>

</p-dialog>

 
  <div class="spinner-container" *ngIf="loadingOpcodes">
  <p-progress-spinner ariaLabel="loading"  [style]="{ width: '150px', height: '150px' }"></p-progress-spinner>

</div>


<router-outlet></router-outlet>