.form-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

.p-floatlabel {
  width: 100%;
}

.p-floatlabel label {
  font-size: 0.85rem;
  color: #008737;
}

.p-inputtext,
.p-select,
.p-datepicker {
  width: 100% !important;
  box-sizing: border-box;
}

.info-box {
  background: #FFF8E1;
  border: 1px solid #FFE082;
  padding: 8px;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 8px;
  margin-bottom: 12px;
  border-radius: 0.25rem;
  color: rgb(249, 115, 22);
}

.p-button {
  border-radius: 6px;
  font-weight: 600;
  min-width: 100px;
}

.button-apply {
  --p-button-primary-background: #008737;
  --p-button-primary-color: #ffffff;
}

.asterick-color {
  color: red;
}