<div style="background-image: linear-gradient(135deg, #00A443, lightyellow); min-height: 88vh; overflow-y: auto;">
  <p-toolbar class="toolbar-color">
    <ng-template #start>
      <p-chip label="VPI Dashboard" image="assets/vpi.png" alt="VPI Dashboard Icon" class="dashboard-chip" />
    </ng-template>
    <ng-template #center> <span *ngIf="_dataService.pagedDataSignal().length > 0" class="active-filters-box"> <b> {{_dataService.selectedOpcode()}} {{_dataService.totalRecordsSignal()}} records (From Date - To Date : {{currentPayload.from_date |date: 'dd/MM/yyyy' }} - {{currentPayload.to_date
          |date: 'dd/MM/yyyy' }} UTC) </b></span>
    </ng-template>
    <ng-template #end>

      <p-button  [rounded]="true" [text]="true" class="export-class" (click)="downloadAudioFiles()" (keydown.enter)="_dataService.onKeydown($event)"
  (keydown.space)="_dataService.onKeydown($event)"
        [disabled]="!selectedRow || selectedRow.length === 0" iconPos="right" label="Export" [outlined]="true"
        severity="info" icon="pi pi-download" />
      <app-vpi-slider></app-vpi-slider>
    </ng-template>
  </p-toolbar>
  <p-toast />
  <div class="spinner-container" *ngIf="loading()">
    <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
  </div>
  <p-table ngSkipHydration showGridlines #dt class="custom-table" size="small" selectionMode="multiple"
    [(selection)]="selectedRow" dataKey="objectId" [paginator]="_dataService.pagedDataSignal().length > 0"
    [first]="first()" [rowsPerPageOptions]="[10, 20, 50]" [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'width': '100%', 'padding': '0 0px 0 0px' }" [resizableColumns]="true" columnResizeMode="fit"
    [value]="_dataService.pagedDataSignal()" [rows]="pagination.pageSize"
    [totalRecords]="_dataService.totalRecordsSignal()" (onLazyLoad)="onPageChange($event)" [lazy]="true">

    <ng-template pTemplate="header">
      <tr *ngIf="_dataService.pagedDataSignal().length > 0">
        <th style="width: 4rem" scope="col">Select</th>
        <th scope="col" *ngFor="let header of displayHeaders;trackBy: trackById"  pResizableColumn class="header-class">
          {{ header.label }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>

      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData" />
        </td>
        <td  *ngFor="let header of displayHeaders;trackBy: trackById" class="header-class"
    (click)="onRowClick(rowData)"  (keydown.enter)="_dataService.onKeydown($event)"
  (keydown.space)="_dataService.onKeydown($event)"  [pTooltip]="rowData[header.id]"
    tooltipPosition="top">

  <ng-container [ngSwitch]="header"> 
    <ng-container *ngSwitchCase="'direction'">
      {{ rowData[header.id] === true ? true : false }}
    </ng-container>

     <ng-container *ngSwitchDefault>
      {{ rowData[header.id] }}
    </ng-container>

  </ng-container>
</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <p-panel class="empty-panel">
        <div class="empty-message-container">
          <i class="pi pi-search"></i>
          <p>No call recordings found. Please select filters to get VPI data</p>
        </div>
      </p-panel>
    </ng-template>
  </p-table>

</div>


<p-dialog [modal]="true" [contentStyle]="{ height: '300px' }" [maximizable]="true" (onMaximize)="onMaximize()"
  appendTo="body" [(visible)]="audioPopUpVisible" [style]="{
    'background-image': 'linear-gradient(to right, #d0f0c0,#e0f7fa,  #d0f0c0)',
    'width': '40rem',
    'height': '40rem',
    'color': '#004d40'
  }"> 
  <div class="card">
    <p-progressbar mode="indeterminate" *ngIf="loadingAudioFile1()" [style]="{'height': '6px'}" />
</div>
  <div class="audio-error" *ngIf="hasErrorForAudioFile">
    Recording not found!! {{audioErrorMessage}} 
  </div>
  <ng-template pTemplate="header">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <strong style="color: darkgreen;">Audio Recording Details </strong>
      
       <p-button *ngIf="audioUrl" [text]="true" icon="pi pi-download" class="p-button-text" (click)="downloadAudio()"
         aria-label="Download audio" (keydown.enter)="_dataService.onKeydown($event)"
  (keydown.space)="_dataService.onKeydown($event)"> </p-button>
    </div>
  </ng-template>

  <div *ngIf="!hasErrorForAudioFile" #waveform id="waveform" style="width: 100%; max-width: 800px;"></div>

  

  <div class="cardPadding">
    <p-tabs value="0">
      <p-tablist class="tab-header d-flex justify-content-between align-items-center">
        <p-tab value="0">VPI META DATA</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">

          <div class="card">
            <p-tabs value="0">
              <p-tablist>
                <p-tab value="0">Overview</p-tab>
                <p-tab value="1">Technical</p-tab>
                <p-tab value="2">Time</p-tab>

              </p-tablist>
              <p-tabpanels>
                <p-tabpanel value="0">
                  <p-table [value]="[selectedRowData]" class="compact-table" [style]="{width: '100%'}">
                    <ng-template pTemplate="body" let-interaction>
                      <tr>

                        <td><b>Call Id</b></td>
                        <td>{{ interaction.callId }}</td>
                      </tr>
                         <tr>
                        <td><b>Object Id</b></td>
                        <td>{{ interaction.objectId }}</td>
                      </tr>
                      <tr>
                        <td><b>Resource Id</b></td>
                        <td>{{ interaction.resourceId }}</td>
                      </tr>
                      <tr>
                        <td><b>Global Call Id</b></td>
                        <td>{{ interaction.globalCallId }}</td>
                      </tr>
                      <tr>
                        <td><b>Previous Call Id</b></td>
                        <td>{{ interaction.previousCallId }}</td>
                      </tr>
                      <tr>
                        <td><b>Direction</b></td>
                        <td>{{ interaction.direction }}</td>
                      </tr>
                      <tr>
                        <td><b>Duration</b></td>
                        <td>{{ interaction.duration * 1000 }}</td>
                      </tr>
                      <tr>
                        <td><b>Class Of Service</b></td>
                        <td>{{ interaction.classOfService }}</td>
                      </tr>
                       <tr>
                        <td><b>Class Of Service Date</b></td>
                        <td>{{ interaction.classOfServiceDate }}</td>
                      </tr>
                      <tr>
                        <td><b>Client Id</b></td>
                        <td>{{ interaction.clientId }}</td>
                      </tr>
                    
                    </ng-template>
                  </p-table>

                </p-tabpanel>
                <p-tabpanel value="1">
                  <p-table [value]="[selectedRowData]" class="compact-table" [style]="{width: '100%'}">
                    <ng-template pTemplate="body" let-interaction>
                      <tr>
                        <td><b>Start Time</b></td>
                        <td>{{ interaction.startTime }}</td>
                      </tr>
                      <tr>
                        <td><b>Date Added</b></td>
                        <td>{{ interaction.dateAdded }}</td>
                      </tr>
                      <tr>
                        <td><b>GMT StartTime</b></td>
                        <td>{{ interaction.gmtStartTime }}</td>
                      </tr>
                      <tr>
                        <td><b>GMT Offset</b></td>
                        <td>{{ interaction.gmtOffset }}</td>
                      </tr>
                      <tr>
                        <td><b>Transcript Status</b></td>
                        <td>{{ interaction.transcriptStatus }}</td>
                      </tr>
                      <tr>
                        <td><b>Transcript Result</b></td>
                        <td>{{ interaction.transcriptResult }}</td>
                      </tr>
                      <tr>
                        <td><b>Tags</b></td>
                        <td>{{ interaction.tags }}</td>
                      </tr>
                         <tr>
                        <td><b>Transcript Status</b></td>
                        <td>{{ interaction.transcriptStatus }}</td>
                      </tr>
                      <tr>
                        <td><b>Transcript Result</b></td>
                        <td>{{ interaction.transcriptResult }}</td>
                      </tr>
                      <tr>
                        <td><b>Tags</b></td>
                        <td>{{ interaction.tags }}</td>
                      </tr>
                         <tr>
                        <td><b>Flag Id</b></td>
                        <td>{{ interaction.flagId }}</td>
                      </tr>
                      <tr>
                        <td><b>Sensitivity Level</b></td>
                        <td>{{ interaction.sensitivityLevel }}</td>
                      </tr>
                      <tr>
                        <td><b>hasTalkover</b></td>
                        <td>{{ interaction.hasTalkover }}</td>
                      </tr>
                    </ng-template>
                  </p-table>


                </p-tabpanel>
                <p-tabpanel value="2">

                  <p-table [value]="[selectedRowData]" class="compact-table" [style]="{width: '100%'}">
                    <ng-template pTemplate="body" let-interaction>

                 
                      <tr>
                        <td><b>Agent ID</b></td>
                        <td>{{ interaction.agentId }}</td>
                      </tr>
                      <tr>
                        <td><b>User Id</b></td>
                        <td>{{ interaction.userId }}</td>
                      </tr>
                      <tr>
                        <td><b>extensionNum</b></td>
                        <td>{{ interaction.extensionNum }}</td>
                      </tr>
                      <tr>
                        <td><b>pbxDnis</b></td>
                        <td>{{ interaction.pbxDnis }}</td>
                      </tr>
                      <tr>
                        <td><b>channel Name</b></td>
                        <td>{{ interaction.channelName }}</td>
                      </tr>
                      <tr>
                        <td><b>Channel Number</b></td>
                        <td>{{ interaction.channelNum }}</td>
                      </tr>
                      <tr>
                        <td><b>Audio Channels</b></td>
                        <td>{{ interaction.audioChannels }}</td>
                      </tr>
                      <tr>
                        <td><b>Media File Id</b></td>
                        <td>{{ interaction.mediaFileId }}</td>
                      </tr>
                      <tr>
                        <td><b>Media Manager Id</b></td>
                        <td>{{ interaction.mediaManagerId }}</td>
                      </tr>
                      <tr>
                        <td><b>Media Retention</b></td>
                        <td>{{ interaction.mediaRetention }}</td>
                      </tr>
                     </ng-template>
                  </p-table>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </div>

        </p-tabpanel>


      </p-tabpanels>
    </p-tabs>
  </div>

</p-dialog>