<div class="highlight-bar">
  <div class="left-content">
    <img src="assets/vpi.png" alt="VPI Dashboard Icon" class="vpi-icon" />
    <span class="header-class">VPI CALL RECORDINGS</span>
  </div>

  <div class="center-content">
    <span *ngIf="_dataService.pagedDataSignal().length > 0">
      <b class="header-class">
        Successfully retrieved {{ _dataService.totalRecordsSignal() }}
        records for OPCO: {{ _dataService.selectedOpcode() }}
        (From Date - To Date EST:
        {{ currentPayload?.from_date }} -
        {{ currentPayload?.to_date }} )
      </b>
    </span>
  </div>

  <div class="end-content">
    <p-button severity="info" (click)="downloadAudioFiles()" (keydown.enter)="_dataService.onKeydown($event)"
      (keydown.space)="_dataService.onKeydown($event)" [disabled]="!selectedRow || selectedRow.length === 0"
      label="Export">
    </p-button>
    <app-vpi-slider></app-vpi-slider>
  </div>
</div>

<p-toast />
<div class="spinner-container" *ngIf="loading()">
  <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
</div>

<p-table ngSkipHydration #dt class="custom-table"  size="small"
  selectionMode="multiple" [(selection)]="selectedRow" dataKey="objectId"
  [paginator]="_dataService.pagedDataSignal().length > 0" [first]="first()" [rowsPerPageOptions]="[15,20,25]"
  [resizableColumns]="true" columnResizeMode="fit" [value]="_dataService.pagedDataSignal()" [rows]="pagination.pageSize"
  [totalRecords]="_dataService.totalRecordsSignal()" (onLazyLoad)="onPageChange($event)" [lazy]="true"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="header">
    <tr *ngIf="_dataService.pagedDataSignal().length > 0">

      <th scope="col" class="select-column">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th scope="col" *ngFor="let header of displayHeaders; trackBy: trackById" pResizableColumn class="header-class">
        {{ header.label | uppercase }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td class="select-column">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let header of displayHeaders; trackBy: trackById" class="body-cell" (click)="onRowClick(rowData)"
        (keydown.enter)="_dataService.onKeydown($event)" (keydown.space)="_dataService.onKeydown($event)"
        [pTooltip]="rowData[header.id]" tooltipPosition="top">
        <ng-container [ngSwitch]="header.id">
          <ng-container *ngSwitchCase="'direction'">
            {{ (rowData[header.id] === true || rowData[header.id] === 'true') ? 'Inbound' : 'Outbound' }}
          </ng-container>
          <ng-container *ngSwitchCase="'dateAdded'">
            {{ convertUtcToEst(rowData[header.id]) }}
          </ng-container>

          <ng-container *ngSwitchCase="'startTime'">
            {{ convertUtcToEst(rowData[header.id]) }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ rowData[header.id] }}
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
  <p-panel class="empty-panel no-padding">
          <div class="empty-message-container">
        <img src="assets/empty.jpg" alt="Support illustration" class="dashboard-image" />
        <p class="overlay-text">
          Please select an Opco using the
          <a class="filters-link" tabindex="0" (click)="_dataService.openDrawer.set(true)"
            (keydown.enter)="_dataService.onKeydown($event)" (keydown.space)="_dataService.onKeydown($event)">
            FILTERS
          </a>
          to retrieve call records
        </p>
      </div>
    </p-panel>
  </ng-template>



</p-table>

<p-dialog [modal]="true" [contentStyle]="{ height: '300px' }" [maximizable]="true" (onMaximize)="onMaximize()"
  appendTo="body" [(visible)]="audioPopUpVisible" [style]="{
    'background-color': '#008737',
    'width': '40rem',
    'height': '40rem',
  }">
  <div class="card">
    <p-progressbar mode="indeterminate" *ngIf="loadingAudioFile1()" [style]="{'height': '6px'}" />
  </div>
  <div class="audio-error" *ngIf="hasErrorForAudioFile">
    Recording not found!! {{audioErrorMessage}}
  </div>
  <ng-template pTemplate="header">
    <div class="dialog-header">
      <div class="header-left">
        <img src="assets/logo.jpg" alt="Logo" class="logo-icon" />
        <h4 class="header-title">AUDIO RECORDING DETAILS</h4>
      </div>
      <div class="header-right">
        <p-button *ngIf="audioUrl" [text]="true" icon="pi pi-download" (click)="downloadAudio()"
          aria-label="Download audio" (keydown.enter)="_dataService.onKeydown($event)"
          (keydown.space)="_dataService.onKeydown($event)">
        </p-button>
      </div>
    </div>
  </ng-template>


  <div *ngIf="!hasErrorForAudioFile" #waveform id="waveform" style="width: 100%; max-width: 800px;"></div>



  <div class="cardPadding">
    <p-tabs value="0">
      <p-tablist class="tab-header d-flex justify-content-between align-items-center">
        <p-tab value="0" class="tab-text-color">VPI META DATA</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">

          <div class="card">
            <p-tabs value="0">
              <p-tablist>
                <p-tab value="0" class="tab-text-color">Overview</p-tab>
                <p-tab value="1" class="tab-text-color">Technical</p-tab>
                <p-tab value="2" class="tab-text-color">Others</p-tab>

              </p-tablist>
              <p-tabpanels>
                <p-tabpanel value="0">
                  <p-table [value]="[selectedRowData]" [style]="{width: '100%'}" styleClass="detail-table">
                    <ng-template pTemplate="body" let-interaction>
                      <tr>

                        <td><b>Call Id</b></td>
                        <td>{{ interaction.callId }}</td>
                      </tr>
                      <tr>
                        <td><b>Object Id</b></td>
                        <td>{{ interaction.objectId }}</td>
                      </tr>
                      <tr>
                        <td><b>Resource Id</b></td>
                        <td>{{ interaction.resourceId }}</td>
                      </tr>
                      <tr>
                        <td><b>Global Call Id</b></td>
                        <td>{{ interaction.globalCallId }}</td>
                      </tr>
                      <tr>
                        <td><b>Previous Call Id</b></td>
                        <td>{{ interaction.previousCallId }}</td>
                      </tr>
                      <tr>
                        <td><b>Direction</b></td>
                        <td>{{ interaction.direction }}</td>
                      </tr>
                      <tr>
                        <td><b>Duration</b></td>
                        <td>{{ interaction.duration}} Seconds</td>
                      </tr>
                      <tr>
                        <td><b>Class Of Service</b></td>
                        <td>{{ interaction.classOfService }}</td>
                      </tr>
                      <tr>
                        <td><b>Class Of Service Date</b></td>
                        <td>{{ interaction.classOfServiceDate }}</td>
                      </tr>
                      <tr>
                        <td><b>Client Id</b></td>
                        <td>{{ interaction.clientId }}</td>
                      </tr>
                      <tr>
                        <td><b>xPlatformRef</b></td>
                        <td>{{ interaction.xPlatformRef }}</td>
                      </tr>
                    </ng-template>
                  </p-table>

                </p-tabpanel>
                <p-tabpanel value="1">
                  <p-table [value]="[selectedRowData]" class="compact-table" [style]="{width: '100%'}"
                    styleClass="detail-table">
                    <ng-template pTemplate="body" let-interaction>
                      <tr>
                        <td><b>Start Time</b></td>
                        <td>{{ interaction.startTime }}</td>
                      </tr>
                      <tr>
                        <td><b>Date</b></td>
                        <td>{{ interaction.dateAdded }}</td>
                      </tr>
                      <tr>
                        <td><b>GMT StartTime</b></td>
                        <td>{{ interaction.gmtStartTime }}</td>
                      </tr>
                      <tr>
                        <td><b>GMT Offset</b></td>
                        <td>{{ interaction.gmtOffset }}</td>
                      </tr>
                      <tr>
                        <td><b>Transcript Status</b></td>
                        <td>{{ interaction.transcriptStatus }}</td>
                      </tr>
                      <tr>
                        <td><b>Transcript Result</b></td>
                        <td>{{ interaction.transcriptResult }}</td>
                      </tr>
                      <tr>
                        <td><b>Tags</b></td>
                        <td>{{ interaction.tags }}</td>
                      </tr>
                      <tr>
                        <td><b>Flag Id</b></td>
                        <td>{{ interaction.flagId }}</td>
                      </tr>
                      <tr>
                        <td><b>Sensitivity Level</b></td>
                        <td>{{ interaction.sensitivityLevel }}</td>
                      </tr>
                      <tr>
                        <td><b>User Id</b></td>
                        <td>{{ interaction.userId }}</td>
                      </tr>
                      <tr>
                        <td><b>hasTalkover</b></td>
                        <td>{{ interaction.hasTalkover }}</td>
                      </tr>
                      <tr>
                        <td><b>Audio Channels</b></td>
                        <td>{{ interaction.audioChannels }}</td>
                      </tr>
                    </ng-template>
                  </p-table>


                </p-tabpanel>
                <p-tabpanel value="2">

                  <p-table [value]="[selectedRowData]" class="compact-table" [style]="{width: '100%'}"
                    styleClass="detail-table">
                    <ng-template pTemplate="body" let-interaction>


                      <tr>
                        <td><b>Agent ID</b></td>
                        <td>{{ interaction.agentId }}</td>
                      </tr>
                      <tr>
                        <td><b>ANI</b></td>
                        <td>{{ interaction.anialidigits }}</td>
                      </tr>
                      <tr>
                        <td><b>Extension Number</b></td>
                        <td>{{ interaction.extensionNum }}</td>
                      </tr>
                      <tr>
                        <td><b>pbxDnis</b></td>
                        <td>{{ interaction.pbxDnis }}</td>
                      </tr>
                      <tr>
                        <td><b>Channel Name</b></td>
                        <td>{{ interaction.channelName }}</td>
                      </tr>
                      <tr>
                        <td><b>Channel Number</b></td>
                        <td>{{ interaction.channelNum }}</td>
                      </tr>
                      <tr>
                        <td><b>Media File Id</b></td>
                        <td>{{ interaction.mediaFileId }}</td>
                      </tr>
                      <tr>
                        <td><b>Media Manager Id</b></td>
                        <td>{{ interaction.mediaManagerId }}</td>
                      </tr>
                      <tr>
                        <td><b>Media Retention</b></td>
                        <td>{{ interaction.mediaRetention }}</td>
                      </tr>
                      <tr>
                        <td><b>Workstation Id</b></td>
                        <td>{{ interaction.workstationId }}</td>
                      </tr>
                      <tr>
                        <td><b>Triggered By Resource Type Id</b></td>
                        <td>{{ interaction.triggeredByResourceTypeId }}</td>
                      </tr>
                      <tr>
                        <td><b>Triggered By Object Id</b></td>
                        <td>{{ interaction.triggeredByObjectId }}</td>
                      </tr>
                      <tr>
                        <td><b>Warehouse Object Key</b></td>
                        <td>{{ interaction.warehouseObjectKey }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </div>

        </p-tabpanel>


      </p-tabpanels>
    </p-tabs>
  </div>

</p-dialog>