<div  class="container">
 <p-button icon="pi pi-check"  [rounded]="true" severity="success"  [style]="{
    'background-color': '#008737','color': '#fff'}" />
      <div class="logo-section">
    <img src="https://frontend-old-green.vercel.app/AvangridLogo2.png" alt="Company Logo" class="logo" />
  </div>
     <h1 class="header">You have been logged out</h1>
    <p class="message"> To begin a new session, please 
           <a class="filters-link" tabindex="0"  (click)="onLogin()"
            (keydown.enter)="onLogin()" (keydown.space)="onLogin()">
            LOGIN
          </a>
         again.
    </p>
</div>