
     
    
<div  class="container">
 <p-button icon="pi pi-check"  [rounded]="true" severity="success"  [style]="{
    'background-color': '#008737','color': '#fff'}" />
      <div class="logo-section">
    <img src="https://frontend-old-green.vercel.app/AvangridLogo2.png" alt="Company Logo" class="logo" />
  </div>
     <h1 class="header">You have been logged out</h1>
    <p class="message">
      You have successfully logged out. To begin <br> 
      a new session, please log in again.
    </p>

    <p-button
      label="Log in"
      (onClick)="onLogin()"
      [style]="{
    'background-color': '#008737',
    'border-color': '#008737',
    'color': '#fff',
    'padding': '0.75rem 3rem',
    'font-size': '1.25rem',
    'border-radius': '8px'
  }">
    </p-button>
     </div>
 