@import "primeicons/primeicons.css";

.my-green-drawer {
  --p-drawer-background: #008737;
  --p-drawer-border-color: transparent;
  --p-drawer-border-radius: 0.5rem;   
}
 
.split-button {
   --splitbutton-border-radius: 12px;
}

.p-card {
  --p-card-background : none
}

.my-green-drawer .drawer-title {
  font-size: 1.rem;
   color:  #FFFFFF;
  line-height: 1;
}

.my-green-drawer .drawer-subtitle {
  font-size: 0.875rem;
  color: #FFFFFF;
  margin-top: 0.25rem;
}

.p-paginator .p-paginator-page,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev {
  color: #007bff;
  border: 1px solid darkblue;
}


.custom-table .p-datatable .p-datatable-thead > tr > th {
  background-color:  #008737 !important;
  color: rgb(255,255,255) !important;
  font-family: 'IberPangea SmBold', sans-serif; 
  font-weight: 400;
}


.p-paginator .p-paginator-page.p-highlight {
  background-color: #008737 !important;
  color: #FFFFFF !important;
}
 
.p-card .p-card-body {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

@font-face {
  font-family: 'IberPangeaText';
  src: url('assets/fonts/IberPangeaText-Medium.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

html, body {
  font-family: 'IberPangeaText', sans-serif; 
  font-weight: 300;
}

.p-dialog .p-dialog-header .p-dialog-header-icon.p-dialog-maximize {
  color: #FFFFFF !important; 
}