@import "primeicons/primeicons.css";

.my-green-drawer {
  --p-drawer-background: linear-gradient(135deg, #00A443,#DCEBE1,#00A443); 
  --p-drawer-color: Black;         
  --p-drawer-border-color: transparent;
  --p-drawer-border-radius: 0.5rem;   
  --p-drawer-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
 
.split-button {
   --splitbutton-border-radius: 12px;
}

.p-card {
  --p-card-background : none
}


.my-green-drawer .drawer-title {
  font-size: 1.5rem;
   color:  Black;  
  line-height: 1;
  font-family: sans-serif;
  font-weight: bold;

}

.my-green-drawer .drawer-subtitle {
  font-size: 0.875rem;
  color: orangered;
  margin-top: 0.25rem;
}


.p-paginator .p-paginator-page,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev {
  color: #007bff;
  border: 1px solid darkblue;
}


.custom-table .p-datatable .p-datatable-thead > tr > th {
  background-color: #8fbc8f !important;
  color: black !important;
}


.p-paginator .p-paginator-page.p-highlight {
  background-color: darkgreen !important;
  color: white !important;
}
