name: Build & Deploy Angular to AKS

on:
  push:
    branches: [ main ]

permissions:
  id-token: write      # needed for OIDC
  contents: read

env:
  ACR_NAME: avangridacr
  ACR_LOGIN_SERVER: avangridacr.azurecr.io
  RESOURCE_GROUP: Avangrid-AKS-test
  CLUSTER_NAME: avangrid-aks

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: bdde1e31-b753-426f-b169-61370edd7981
          tenant-id: d8867426-ba07-426e-9518-9f82af756f09
          subscription-id: 274baed6-b860-4bb5-838a-9f7828bc7847

      - name: Azure CLI - ACR Login
        uses: azure/cli@v2
        with:
          inlineScript: |
            az acr login -n $ACR_NAME

      - name: Build and Push image
        run: |
          docker build -t avangridacr.azurecr.io/angular-app:${{ github.sha }} .
          docker tag  avangridacr.azurecr.io/angular-app:${{ github.sha }} $ACR_LOGIN_SERVER/angular-app:latest
          docker push avangridacr.azurecr.io/angular-app:${{ github.sha }}
          docker push avangridacr.azurecr.io/angular-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - uses: actions/checkout@v5

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: bdde1e31-b753-426f-b169-61370edd7981
          tenant-id: d8867426-ba07-426e-9518-9f82af756f09
          subscription-id: 274baed6-b860-4bb5-838a-9f7828bc7847

      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: Avangrid-AKS-test
          cluster-name: avangrid-aks

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl rollout status deploy/angular-app
